<h1><%= @employee.name %></h1>

<h2> Your Current Table(s):</h2>

<% if @parties != [] %>
		<% sum = 0 %>
	<% @parties.each do |party| %>

		<% if party.paid == false %>
			<h3>Table Number: <%=party.table_number %></h3> 
				<p>Guests: <%= party.guests %></p> 
				<p>Paid? <%= party.paid %></p> 

		<p><a href="/parties/new">Start a new table</a></p>
		<% elsif party.paid == true %>

			<% sum += (party.foods.sum(:price) * party.tip)/100.0 %> 
		
		<% end %>						

	<% end %>
			
			<h2>Total Tips: £<%= sum %>0 </h2>
			<p><a href="/parties/new">Start a new table</a></p>
<% else %>
	
		<p>You are currently not serving any tables.</p> 
		<p><a href="/parties/new">Start a new table</a></p>

<% end %>