<h1> Our Food </h1>
	
	<% @foods.each do |food| %>

<div class="foods">
<h3><a href="/foods/<%= food.id %>"> <%= food.name %></a></h3>
	
	Cuisine: <%= food.cuisine %><br>
	Allergens: <%= food.allergens %><br>
	Price: £<%= food.price %><br>

</div>

<% end %>
