<h1> Our Food </h1>
	
	<% @foods.each do |food| %>

<h3><a href="/foods/<%= food.id %>"> <%= food.name %></a></h3>

<ul>	
	<li>
	Cuisine: <%= food.cuisine %>
	</li>
	<li>
	Allergens: <%= food.allergens %>
	</li>
	<li>
	Price: $<%= food.price %>
	</li>
</ul>

<% end %>