<h1>Receipt for Table Number <%= @party.table_number %> </h1>

<h2>List of Items</h2>

<% @foods.each do |food| %>

<h3><%= food.name %></h3>
£<%= food.price %>

<% end %>


<h2>Total: £<%= @total %></h2>

<form action="/parties/<%= @party.id %>/checkout" method="POST">
	<input type="hidden" name="_method" value="PATCH">
	<input type="hidden" name="party[paid]" value="1">
Suggested Tip: <select name="party[tip]">
      <option value="15">15%</option>
  		<option value="20">20%</option>
  		<option value="25">25%</option>
  </select><br>
  <input type="submit" name="Click here to checkout" />
</form>