<h2>Edit an Order for Table Number <%=@table_number %></h2>
<form action="/orders/<%= @order_id %>" method="POST">

  Select a Food: <select name="food[id]">
    <% @party_foods.each do |food|  %>
      <option value="<%= food.id %>"><%= food.name %></option>
    <% end %>
  </select><br>

	<input type="hidden" name="_method" value="PATCH">
	<input type="submit" value="Update Order">
</form>

<form action="/orders/<%= @order_id %>" method='POST'> 
	<input type="hidden" name="_method" value="DELETE">
  <input type="submit" value='Delete Order'>
</form>



